<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header" style="width: 100%">
     <a class="navbar-title" style="float: left;" href="/">InventoryQuest</a>
     <% if user_signed_in? %>
       <ul class='nav nav-pills'>
         <li><%= link_to 'Edit Profile', edit_profile_redirects_path %></li>
         <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %></li>
       <ul>
     <% end %>
    </div>
  </div>
</nav>

