<table class='show-item-table'>
  <tbody>
    <tr>
      <td>Name:</td><td></td><td><%= @equipment_type.name %></td>
    </tr>
    <tr>
      <td>Description:</td><td></td><td><%= @equipment_type.description %></td>
    </tr>


  </tbody>
</table>