<table>
<tbody>
<tr>
<td>Name:</td><td><%= @equipment_type.name %></td>
</tr>
<tr>
<td>Description:</td><td><%= @equipment_type.description %></td>
</tr>


</tbody>
</table>

<%= link_to 'Back', equipment_items_path %>
